/*-------------------------------------------------------*/
/* Base styles	 */
/*-------------------------------------------------------*/

html {
  overflow-y: scroll;
}

body {
  background-color: #E8E8E8;
  margin: 0px;
  padding: 0px;
  font-family: 'open Sans', Arial;
  font-size: 12px;
}

/* Font face */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot');
  src: url('../fonts/icomoon/icomoon.eot?#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.svg#icomoon') format("svg"), url('../fonts/icomoon/icomoon.woff') format("woff"), url('../fonts/icomoon/icomoon.ttf') format("truetype");
}


/*-------------------------------------------------------*/
/* Wrap */
/*-------------------------------------------------------*/

#container {
  margin: 0 auto;
  width: 860px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#content {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

/*-------------------------------------------------------*/
/* Generic Classes */
/*-------------------------------------------------------*/

.hidden {
  display: none;
}

/* Clearfix */

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

* html .clearfix, :first-child + html .clearfix {
  zoom: 1;
}

.extra-text {
  font-size: 20px;
  padding: 24px 0;
  border-bottom: 1px solid #ededed;
  color: #999;
  margin-bottom: 20px;
  font-weight: 300;
}

.transition {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.word-wrap {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*-------------------------------------------------------*/
/* Typography */
/*-------------------------------------------------------*/

h1 {
  font-size: 37px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

strong {
  font-weight: bold;
  color: #333;
}

h3.main-heading {
  margin: 0px 2px 20px 0px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 14px;
  color: #333;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  clear: both;
  position: relative;
  &::after {
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #fdc750;
  }
}

/*-------------------------------------------------------*/
/* Top Section */
/*-------------------------------------------------------*/

header {
  height: 60px;
  margin-bottom: 20px;
  overflow: hidden;
}

/* Logo */

#logo {
  float: left;
  overflow: hidden;
  margin-left: 10px;
  display: none;
  h2 {
    font-size: 30px;
    font-weight: 900;
    color: #444;
    line-height: 40px;
  }
  h4 {
    color: #666;
    line-height: 20px;
  }
}

/* Social icons */

.socialicons {
  float: right;
  margin-top: 18px;
  li {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    a {
      font-family: 'icomoon';
      font-size: 16px;
      display: block;
      padding: 6px 8px;
      background-color: #222;
      color: #FFF;
      &:hover {
        color: #fdc750;
      }
    }
  }
}

.social-icons li:last-child {
  margin-right: 0;
}

.socialicons .socials-text {
  padding: 9px;
  height: 10px;
  background-color: #222;
  color: #FFF;
}

/*-------------------------------------------------------*/
/* Profile Section */
/*-------------------------------------------------------*/

#profile {
  background: #fdc750;
  background-image: url(../images/header-shadow.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  overflow: hidden;
}

/* About */

.about {
  float: left;
  margin-top: 30px;
  width: 490px;
  margin-left: 20px;
  .photo-inner {
    float: left;
    background: url(../images/photo-inner.png) no-repeat;
    width: 192px;
    height: 212px;
    padding: 12px 0 0 20px;
    img {
      background-color: #FFF;
    }
  }
  h1 {
    font-weight: 900;
    color: #FFF;
    line-height: 34px;
    margin-top: 8px;
  }
  h3 {
    margin-top: 5px;
    font-size: 18px;
    color: #FFF;
    line-height: 18px;
  }
  p {
    font-size: 14px;
    margin-top: 15px;
    color: #a87f09;
    font-weight: 400;
    line-height: 20px;
  }
}

/* Personal info */

.personal-info {
  float: left;
  margin-top: 30px;
  width: 310px;
  min-height: 230px;
  margin-left: 10px;
  background: url(../images/personal-info-sep.png) no-repeat left top;
  padding: 20px 0 0 20px;
  li {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    label {
      color: #a87f09;
      float: left;
      padding: 4px 7px;
      font-weight: 600;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
    span {
      float: right;
      width: 220px;
      padding-top: 4px;
      font-weight: 300;
      color: #a87f09;
    }
  }
}

/*-------------------------------------------------------*/
/* Menu */
/*-------------------------------------------------------*/

.menu {
  height: 100px;
  background-color: #ededed;
  position: relative;
  width: 600px;
  padding-left: 130px;
  padding-right: 130px;
}

.tabs {
  height: 116px;
  position: absolute;
  margin-top: -14px;
  z-index: 100;
  li {
    float: left;
    height: 116px;
    > a {
      padding-top: 28px;
      width: 115px;
      display: inline-block;
      background-repeat: no-repeat;
      font-size: 16px;
      color: #b9b9b9;
      text-align: center;
      font-weight: 300;
    }
    &.active {
      background: url('../images/tab-hover.png') no-repeat;
      a {
        color: #fdc750;
      }
    }
    > a > i {
      font-size: 45px;
      speak: none;
      font-family: 'icomoon';
      display: block;
      margin-bottom: 5px;
    }
  }
}

.next, .prev {
  font-family: 'icomoon';
  font-size: 34px;
  color: #eee;
  position: absolute;
  top: 30px;
  width: 40px;
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
}

.next {
  right: 0px;
}

.prev {
  left: 0px;
}

.disabled {
  display: none !important;
}

/*-------------------------------------------------------*/
/* Resume Section */
/*-------------------------------------------------------*/

#resume {
  padding: 40px 20px;
  overflow: hidden;
}

.skills-section {
  float: left;
}

.timeline-section {
  float: left;
  width: 490px;
  padding-right: 60px;
}

/* Timeline Section */

.timeline {
  margin-bottom: 30px;
  li {
    margin-bottom: 20px;
    .timelineUnit {
      line-height: 17px;
      margin-left: 0px;
      color: #444;
      font-size: 13px;
      border-left: 1px solid #fdc750;
      padding-left: 15px;
      .timelineDate {
        line-height: 17px;
        color: #fdc750;
        font-size: 14px;
        margin-left: 10px;
        font-weight: normal;
        padding: 2px 6px;
        float: right;
      }
      h4 {
        line-height: 24px;
        font-size: 15px;
        color: #444;
      }
      h5 {
        line-height: 18px;
        font-size: 13px;
        color: #999;
      }
      p {
        color: #666;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
}

/* Skills Section */

.skills-section {
  width: 270px;
}

.skills {
  margin-bottom: 25px;
  overflow: hidden;
  li {
    margin-bottom: 15px;
    float: left;
    padding-left: 0px;
    h4 {
      width: 140px;
      float: left;
      font-size: 15px;
      color: #444;
    }
    .rating {
      width: 123px;
      height: 14px;
      float: left;
      > span {
        opacity: 0.3;
        height: 12px;
        width: 12px;
        background-color: #757575;
        display: block;
        float: left;
        margin-right: 1px;
        border: 2px solid #eeeeee;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }
    }
  }
}

/* Download Button */

#resume .button {
  width: 250px;
  padding: 10px;
  background-color: #8c8c8c;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 20px 0px 0px -20px;
  color: #f7f7f7;
  display: block;
  text-align: center;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  &:hover {
    background-color: #fdc750;
  }
}

/*-------------------------------------------------------*/
/* Portfolio Section */
/*-------------------------------------------------------*/

#portfolio {
  padding: 20px 20px 20px 20px;
}

/* Images list */

#portfolio-list {
  width: 820px;
  overflow: hidden;
  li {
    float: left;
    margin-right: 25px;
    text-align: center;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e5e5e5;
    height: 185px;
    margin-bottom: 30px;
    width: 180px;
    &:hover {
      border-bottom: 1px solid #fdc750;
      height: 185px;
    }
  }
  img {
    background-color: #FFF;
    height: 120px;
    width: 180px;
  }
  li {
    &:hover .title {
      color: #fdc750;
    }
    .title {
      font-size: 14px;
      margin-top: 15px;
      font-weight: 400;
      color: #3A3A3A;
    }
    .categorie {
      font-size: 11px;
      line-height: 25px;
      color: #999;
    }
  }
}

/* Filter menu */

.cats-filter {
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  padding: 15px 0;
  li a {
    float: left;
    margin-right: 7px;
    color: #fff;
    background-color: #666;
    padding: 6px;
    margin-bottom: 5px;
    &:hover, &.current {
      background-color: #fdc750;
    }
  }
}

/* adipoli */

.adipoli-wrapper {
  margin: auto;
  position: relative;
  display: inline-block;
  > img {
    position: absolute;
    z-index: 1;
  }
}

.adipoli-before {
  position: absolute;
  z-index: 5;
}

.adipoli-after {
  position: absolute;
  z-index: 10;
}

.adipoli-slice {
  display: block;
  position: absolute;
  z-index: 15;
  height: 100%;
}

.adipoli-box {
  display: block;
  position: absolute;
  z-index: 15;
}

/*-------------------------------------------------------*/
/* Blog Section */
/*-------------------------------------------------------*/

#blog {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.blog-content-wrapper {
  width: 530px;
  float: left;
  min-height: 100px;
  margin-bottom: 30px;
}

.blog-entry {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  float: left;
  img {
    float: left;
    width: 530px;
    opacity: 0.8;
    filter: alpha(opacity = 80);
  }
  h3 {
    clear: both;
    padding: 20px 15px 15px 15px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #3A3A3A;
  }
  a:hover img {
    opacity: 1;
    filter: alpha(opacity = 100);
  }
  > a:hover h3 {
    color: #fdc750;
  }
  .entry-date {
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    left: 0px;
    background-color: #666;
    .day {
      font-size: 32px;
      font-weight: bold;
      display: block;
      float: left;
      border-right: 1px solid #FFF;
      padding-right: 10px;
      color: #fff;
    }
    .month-year {
      padding: 0 0 0 7px;
      font-size: 12px;
      font-weight: 600;
      display: block;
      line-height: 15px;
      text-align: center;
      float: left;
      color: #fff;
      margin: 0;
    }
  }
  p {
    padding: 0px 15px;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

/* Entry Date */

/* Blog Sidebar */

.blog-sidebar {
  width: 260px;
  float: left;
  margin-left: 30px;
}

/* Blog Single */

.blog-single {
  position: relative;
  background-color: #fff;
  h3, p {
    padding-left: 0px !important;
  }
}

/* Comments box */

.comments-list {
  margin-bottom: 30px;
}

.comment {
  background-color: #fbfbfb;
  padding: 12px 9px;
  overflow: hidden;
  border-left: 1px solid #fdc750;
  margin-bottom: 10px;
}

.comment-child {
  margin-left: 20px;
  .comment-meta, .comment-body {
    width: 430px !important;
  }
}

.comment {
  img {
    float: left;
  }
  .comment-meta, .comment-body {
    float: left;
    width: 450px;
    margin-left: 10px;
  }
  .comment-meta {
    h4 {
      font-weight: 400;
      display: inline-block;
      color: #333;
    }
    p {
      display: inline-block;
      font-size: 11px;
      color: #ccc;
      font-style: italic;
      margin-left: 15px;
    }
    .reply {
      float: right;
      color: #ddd;
      &:hover {
        color: #fdc750;
      }
    }
  }
  .comment-body p {
    margin-top: 8px;
    font-size: 11px;
    color: #909090;
    line-height: 16px;
  }
}

/* Load More Button */

#page_nav {
  width: 150px;
  padding: 6px;
  background-color: #8c8c8c;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 10px 0px 0px -20px;
  color: #f7f7f7;
  display: block;
  text-align: center;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  &:hover {
    background-color: #fdc750;
  }
}

/* Loading Text */

.loading-msg img {
  display: none;
}

/*-------------------------------------------------------*/
/* Widgets */
/*-------------------------------------------------------*/
/* Popular Post widget */

.popular-posts-widget {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  li {
    padding: 10px;
    background-color: #fbfbfb;
    margin-bottom: 4px;
    &:last-child {
      border-bottom: none;
    }
    h2 {
      font-size: 13px;
      margin-bottom: 4px;
      line-height: 20px;
      a:hover {
        color: #fdc750;
      }
    }
    span {
      font-size: 11px;
      color: #999;
    }
  }
}

/* Flickr Stream widget */

.flicker-stream-widget {
  overflow: hidden;
  margin-bottom: 30px;
  li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    img {
      height: 60px;
      width: 60px;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.loading {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #ededed;
  color: #333;
  display: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Blog Single Post */

.blog-single-close {
  float: right;
  color: #FFF;
  font-weight: 300;
  font-size: 14px;
  color: #ddd;
  i {
    font-family: 'icomoon';
    font-size: 18px;
    vertical-align: top;
  }
  &:hover {
    color: #fdc750;
  }
}

/* Text widget */

.text-widget {
  padding-bottom: 30px;
  line-height: 20px;
}

/*-------------------------------------------------------*/
/* Contact Section */
/*-------------------------------------------------------*/

#contact {
  padding: 30px 0;
  overflow: hidden;
}

.contact-info, .contact-form {
  float: left;
  padding: 0 20px;
}

.contact-info {
  width: 250px;
}

.contact-form {
  width: 530px;
}

/* Contact info */

.contact-info ul {
  float: left;
  border-left: 1px solid #fdc750;
  padding-left: 18px;
  li {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
  }
}

/* Google map */

#map {
  height: 300px;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

/*-------------------------------------------------------*/
/* Forms */
/*-------------------------------------------------------*/

form {
  .input {
    -moz-box-shadow: inset 0 5px 16px -13px #333333;
    -webkit-box-shadow: inset 0 5px 16px -13px #333333;
    box-shadow: inset 0 5px 16px -13px #333333;
    background-color: #FDFDFD;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    font-size: 12px;
    height: 30px;
    outline: none;
    padding: 6px 10px;
    resize: none;
    width: 96%;
  }
  textarea {
    -moz-box-shadow: inset 0 5px 16px -13px #333333;
    -webkit-box-shadow: inset 0 5px 16px -13px #333333;
    box-shadow: inset 0 5px 16px -13px #333333;
    background-color: #FDFDFD;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    font-size: 12px;
    height: 30px;
    outline: none;
    padding: 6px 10px;
    resize: none;
    width: 96%;
    height: 112px;
    line-height: 18px;
    margin-bottom: 0;
    padding-top: 8px;
  }
  p {
    margin-bottom: 15px;
    label {
      display: block;
      color: #999;
      margin-bottom: 8px;
      font-size: 13px;
    }
  }
}

.button {
  color: #fff;
  background-color: #666;
  padding: 8px;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  &:hover {
    background-color: #fdc750;
  }
}

.success, .error {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.success {
  background-color: #E3EBC6;
  color: #8FA442;
  border: 1px solid #C2D288;
}

.error {
  background-color: #f9e5e6;
  color: #b3696c;
  border: 1px solid #f7c7c9;
}

/*-------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------*/

footer, div.footer {
  margin-top: 20px;
  height: 20px;
  .copyright {
    float: left;
    color: #333;
    padding-left: 6px;
  }
}

/*-------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/* Isotope filtering */
/*-------------------------------------------------------*/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

/*-------------------------------------------------------*/
/* Media Queries */
/*-------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #container {
    width: 750px;
  }
  /*-------------------------------------------------------*/
  /* Menu */
  /*-------------------------------------------------------*/
  .menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
    width: 590px;
    padding-left: 80px;
    padding-right: 80px;
  }
  /*-------------------------------------------------------*/
  /* Profile Section */
  /*-------------------------------------------------------*/
  /* About */
  .about {
    width: 410px;
    h1 {
      line-height: 38px;
      font-size: 30px;
    }
    h3 {
      font-size: 14px;
      line-height: 14px;
    }
  }
  /* Personal info */
  .personal-info {
    width: 280px;
    margin-right: 10px;
    li span {
      width: 190px;
    }
  }
  /*-------------------------------------------------------*/
  /* Resume */
  /*-------------------------------------------------------*/
  .timeline-section {
    width: 380px;
    padding-right: 30px;
  }
  .skills-section {
    width: 300px;
  }
  /*-------------------------------------------------------*/
  /* Portfolio */
  /*-------------------------------------------------------*/
  #portfolio-list {
    width: 750px;
    li {
      margin-right: 60px;
    }
  }
  /*-------------------------------------------------------*/
  /* Blog */
  /*-------------------------------------------------------*/
  .blog-content-wrapper, .blog-entry img {
    width: 420px;
  }
  .comment {
    .comment-meta, .comment-body {
      float: left;
      width: 330px;
      margin-left: 10px;
    }
  }
  .comment-child {
    .comment-meta, .comment-body {
      width: 310px !important;
    }
  }
  /*-------------------------------------------------------*/
  /* Contact */
  /*-------------------------------------------------------*/
  .contact-info {
    width: 250px;
  }
  .contact-form {
    width: 420px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #container {
    width: 470px;
  }
  /*-------------------------------------------------------*/
  /* Top Section */
  /*-------------------------------------------------------*/
  /* Logo */
  #logo {
    h2 {
      font-size: 25px;
      font-weight: 900;
      color: #444;
      line-height: 30px;
    }
    h4 {
      color: #666;
      line-height: 15px;
    }
  }
  /* Social icons */
  .socialicons {
    margin-top: 9px;
  }
  .socials-text {
    display: none !important;
  }
  /*-------------------------------------------------------*/
  /* Profile Section */
  /*-------------------------------------------------------*/
  /* About */
  .about {
    width: 420px;
    display: block;
    h1 {
      line-height: 38px;
      font-size: 30px;
    }
    h3 {
      font-size: 14px;
      line-height: 14px;
    }
  }
  /* Personal info */
  .personal-info {
    margin-top: 0;
    display: block;
    width: 420px;
    background: none;
    border-top: 1px solid #fdc750;
    li span {
      width: 280px;
    }
  }
  /*-------------------------------------------------------*/
  /* Menu */
  /*-------------------------------------------------------*/
  .tabs {
    padding-left: 5px;
  }
  .menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
    width: 370px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /*-------------------------------------------------------*/
  /* Resume */
  /*-------------------------------------------------------*/
  .skills-section {
    width: 420px;
  }
  .skills li h4 {
    width: 260px;
  }
  .timeline-section {
    width: 420px;
    padding-right: 60px;
  }
  /*-------------------------------------------------------*/
  /* Portfolio */
  /*-------------------------------------------------------*/
  #portfolio-list {
    width: 450px;
    li {
      margin-right: 40px;
    }
  }
  /*-------------------------------------------------------*/
  /* Blog */
  /*-------------------------------------------------------*/
  .blog-content-wrapper, .blog-entry img {
    width: 430px;
  }
  .blog-sidebar {
    width: 430px;
    margin-left: 0px;
  }
  .comment {
    .comment-meta, .comment-body {
      width: 350px;
    }
  }
  .comment-child {
    .comment-meta, .comment-body {
      width: 320px !important;
    }
  }
  /*-------------------------------------------------------*/
  /* Contact */
  /*-------------------------------------------------------*/
  .contact-info {
    width: 420px;
  }
  .contact-form {
    margin-top: 20px;
    width: 420px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #container {
    width: 300px;
    margin-top: 10px;
  }
  .extra-text {
    font-size: 16px;
  }
  /*-------------------------------------------------------*/
  /* Top Section */
  /*-------------------------------------------------------*/
  /* Logo */
  #logo {
    h2 {
      font-size: 25px;
      font-weight: 900;
      color: #444;
      line-height: 30px;
    }
    h4 {
      color: #666;
      line-height: 15px;
    }
  }
  .socialicons {
    display: none !important;
  }
  /*-------------------------------------------------------*/
  /* Profile Section */
  /*-------------------------------------------------------*/
  div.top {
    height: 50px;
    margin-bottom: 5px;
  }
  /* About */
  .about {
    width: 280px;
    display: block;
    margin: 10px 0 15px 10px;
    .photo-inner {
      margin-left: 40px;
      background: url(../images/photo-inner.png) no-repeat;
      width: 192px;
      height: 212px;
      padding: 12px 0 0 20px;
    }
    h1 {
      line-height: 38px;
      font-size: 30px;
      text-align: center;
    }
    h3 {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  /* Personal info */
  .personal-info {
    margin-top: 0;
    display: block;
    width: 280px;
    background: none;
    border-top: 1px solid #fdc750;
    margin-left: 10px;
    min-height: 220px;
    padding-left: 0;
    li {
      font-size: 13px;
      span {
        width: 200px;
      }
    }
  }
  /*-------------------------------------------------------*/
  /* Menu */
  /*-------------------------------------------------------*/
  .tabs {
    padding-left: 0px;
    li {
      > a {
        width: 75px;
        font-size: 14px;
      }
      &.active {
        background-image: none !important;
      }
    }
  }
  .menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /*-------------------------------------------------------*/
  /* Resume */
  /*-------------------------------------------------------*/
  #resume {
    padding: 10px;
  }
  .timeline-section {
    width: 280px;
    padding-right: 60px;
  }
  .skills-section {
    width: 280px;
  }
  .skills li h4 {
    width: 120px;
  }
  /*-------------------------------------------------------*/
  /* Portfolio */
  /*-------------------------------------------------------*/
  #portfolio-list {
    width: 280px;
    li {
      margin-left: 40px;
    }
  }
  /*-------------------------------------------------------*/
  /* Blog */
  /*-------------------------------------------------------*/
  .blog-content-wrapper, .blog-entry img {
    width: 260px;
  }
  .blog-sidebar {
    width: 260px;
    margin-left: 0px;
  }
  .comment {
    .comment-meta {
      width: 180px;
      margin-top: 10px;
      p {
        margin-left: 0px;
        margin-top: 6px;
        clear: both;
        display: block;
      }
    }
    .comment-body {
      width: 240px;
      margin-left: 0;
    }
  }
  .comment-child {
    .comment-meta {
      width: 160px !important;
      margin-top: 10px;
      p {
        margin-left: 0px;
        margin-top: 6px;
        clear: both;
        display: block;
      }
    }
    .comment-body {
      width: 220px !important;
      margin-left: 0;
    }
  }
  /*-------------------------------------------------------*/
  /* Contact */
  /*-------------------------------------------------------*/
  .contact-info {
    width: 280px;
  }
  .contact-form {
    margin-top: 20px;
    width: 280px;
  }
  .contact-info, .contact-form {
    padding: 0 10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {
  .tabs li.active {
    background: url('../images/tab-hover@2x.png') no-repeat;
    background-size: 116px 114px;
  }
}